In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
warnings.filterwarnings('ignore')

# Importing data

In [8]:
columns = ['user_id', 'item_id', 'rating', 'timestamp']

df = pd.read_csv('ml-100k/u.data', sep='\t', names=columns)

In [9]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [10]:
df.shape

(100000, 4)

In [13]:
df['user_id'].nunique()

943

In [14]:
df['item_id'].nunique()

1682

In [25]:
movies_titles = pd.read_csv('ml-100k/u.item', sep='\|', encoding="ISO-8859-1", header=None)

In [26]:
movies_titles.shape

(1682, 24)

In [27]:
movies_titles = movies_titles[[0, 1]]

In [29]:
movies_titles.columns = ['item_id', 'title']

In [30]:
movies_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [33]:
df = pd.merge(df, movies_titles, on='item_id')

# Exploratory Data Analysis